{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/landing.css" %}">
{% endblock %}

{% block content %}


<section class="container section">
    <div class="row">
        <div class="col s12">
            <h3>Verðskrá</h3>
        </div>
        <div class="separator"></div>
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active indigo-text"  href="#varanlegfordun">Varanleg förðun</a></li>
                <li class="tab col s3"><a class=" indigo-text" href="#dermatude">Dermatude Meta Therapy</a></li>
                <li class="tab col s3"><a class=" indigo-text" href="#plasmapen">Plasma Pen</a></li>
                <li class="tab col s3"><a class=" indigo-text" href="#snyrting">Snyrting</a></li>
            </ul>
        </div>
    </div>


    <div id="varanlegfordun" class="col s12">
        <p class="flow-text">Varanleg förðun</p>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title">AUGABRÚNIR</span>
                        <p>
                            Augabrúnir: 45.000,- kr.<br>
                            Augabrúnir – Microblade: 50.000,- kr.<br>
                            Augabrúnir – Hybrid: 52.000,- kr.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title">AUGU</span>
                        <p>
                            Þétting: 45.000,- kr.<br>
                            Augnlína efri augnlok: 48.000,- kr.<br>
                            Augnlína Efri og neðri augnlok: 50.000,- kr.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title">VARIR</span>
                        <p>
                            Varalína: 45.000,- kr.<br>
                            Varalína með skyggingu: 48.000,- kr.<br>
                            Varir – Heillitun: 52.000,- kr.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="dermatude" class="col s12">
        <p class="flow-text">Dermatude Meta Therapy</p>
        <div class="row">

            <div class="col s12 m6 l4">
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title">ANDLIT</span>
                        <p>
                            1 skipti – Andlit: 20.400,- kr.<br>
                            8 skipta kúr – Andlit: 134.800,- kr.<br>
                            Greitt fyrir 7 skipti.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title">ANDLIT OG HÁLS</span>
                        <p>
                            1skipti – Andlit og háls: 30.850,- kr.<br>
                            8 skipta kúr – Andlit og háls : 200.950,- kr.<br>
                            Greitt fyrir 7 skipti.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title">ANDLIT, HÁLS OG BRINGA</span>
                        <p>
                            1 skipti – Andlit, háls og bringa: 40.300,- kr.<br>
                            8 skipta kúr – Andlit, háls og bringa: 267.100,- kr.<br>
                            Greitt fyrir 7 skipti.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col s12 m6 l4">
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title">ANNAÐ</span>
                        <p>
                            Meðferð með þurri nál í línur og hrukkur: 15.000,- kr.
                        </p>
                        <p>
                            8.000,-Kr. Í framhaldi af meta-therapy meðferð.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="plasmapen" class="col s12">
        <p class="flow-text">Plasma Pen</p>
        <div class="row">

            <div class="col s12 m6 l4">
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Plasma Pen</span>
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="snyrting" class="col s12">
        <p class="flow-text">Snyrting</p>
        <div class="row">

            <div class="col s12 m6 l4">
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title">ANDLITSMEÐFERÐIR</span>
                        <p>
                            60 MÍNÚTNA ANDLITSMEÐFERÐ: 9.500,- kr.<br>
                            90 MÍNÚTNA ANDLITSMEÐFERÐ: 12.000,- kr.<br>
                            LÚXUS ANDLITSMEÐFERÐ 2 KLST: 15.000,- kr.<br>
                            SÝRUR: 11.000,- kr.<br>
                            SÝRUR (4 SKIPTI): 39.000,- kr.<br>
                            HÚÐHREINSUN: 9.000,- kr.<br>
                            HÚÐHREINSUN 16 ÁRA OG YNGRI: 7.000,- kr.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col s12 m6 l4">
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title">AUGU</span>
                        <p>
                            LITUN OG PLOKKUN/VAX: 4.700,- kr.<br>
                            LITUN Á BRÚNIR OG PLOKKUN/VAX: 4.000,- kr.<br>
                            LITUN ÆA AUGNHÁR: 2.500,- kr.<br>
                            PLOKKUN/VAX: 2.000,- kr.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col s12 m6 l4">
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title">FÆTUR</span>
                        <p>
                            FÓTSNYRTING: 6.000,- kr.<br>
                            FÓTSNYRTING MEÐ LÖKKUN: 6.500,- kr.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title">VAXMEÐFERÐIR</span>
                        <p>
                            VAX ANDLIT: 1.500 – 3.500 kr.<br>
                            VAX AÐ HNJÁM: 4.500,- kr.<br>
                            VAX AÐ HNJÁM OG AFTAN Á LÆRUM: 5.500,- kr.<br>
                            VAX ALLA LEIÐ/MEÐ NÁRA: 8.500/10.000 kr.<br>
                            VAX Í NÁRA: 3.500,- kr.<br>
                            VAX UNDIR HENDUR: 3.000,- kr.<br>
                            VAX BAK/BRINGA: 3.500 – 5.000 kr.<br>
                            VAX BAK OG BRINGA: 8.000,- kr.<br>
                            BRAZELÍSKT/ENDURKOMA: 6.500/5.500 kr.<br>
                            BRAZELÍSKT HERRA: 7.000 – 9.000 kr.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="row">
        <div class="col s12 l4 offset-l4"><p>Öll verð eru birt með fyrirvara um breytingu.</p></div>
    </div>




{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        $('.tabs').tabs();
    });
</script>
{% endblock %}
