

#background-image {
    /*background-color: #79aec8;*/
    background-image: url('../images/left_bottom_face.png');

    opacity:1;
    position:fixed;
    /*top:65px;*/
    /*left: 0;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%;
    background-position: 100% 65px;
    z-index:0;
    background-repeat: no-repeat;
    transition: opacity 0.8s;
    background-blend-mode: soft-light;
}

/*@media only screen and (max-width: 767px) {*/
/*  #background-image {*/
/*    !* The file size of this background image is 93% smaller*/
/*       to improve page load speed on mobile internet connections *!*/
/*    !*background-image: url(/images/background-photo-mobile-devices.jpg);*!*/
/*  }*/
/*}*/

#content {
    z-index:10;
    position:relative;
}

.nav-wrapper {
    border-color: pink;
    border-style: solid;
    border-width: 1px;
    /*pink lighten-5*/
}

.parallax-section {
    padding-top: 0;
    padding-bottom: 0;
}


.height-200 {
    height: 200px;
}
.height-750 {
    height: 750px;
}
nav {
    float: top;
    position: fixed;
}


nav ul li a{
  color: black;
}