{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Draumórar</title>
    <meta charset="UTF-8">
    <meta name="author" content="Heiðar Sigurjónsson">
    <meta name="description" content="Draumórar">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
{#      <link type="text/css" rel="stylesheet" href="css/materialize/materialize.min.css"  media="screen,projection"/>#}


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="shortcut icon" href="{% static 'images/sitelogo3.png' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    {% block style %}
    {% endblock %}

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div id="background-image" style="background-image: url({% static 'images/slide1b.jpg' %});"></div>
<div id="foreground-concent">
{#        style="background-image: url({% static 'images/slide1b.jpg' %});">#}
    <header>
        {% include 'navbar.html' %}
    </header>

    <main class="content-background">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% include 'footer.html' %}
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {% block js %}
    {%endblock%}

</div></body>
</html>