<footer class="page-footer grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#">About Us</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Contact Us</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Terms of Service</a></li>
                </ul>
            </div>


            <div class="col l4 s12">
                <ul>
                    <li class="grey-text text-lighten-3" align="center">Text content of Einkavefur is available under the <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">Creative Commons 3.0 License</a>. You can copy it freely, but indicate the origin and keep the license.</li>
                </ul>
            </div>


        </div>
    </div>
    <div class="footer-copyright grey darken-3">
        <div class="container">
            © 2020 Einkavefur
        </div>
    </div>
</footer>