<footer class="page-footer pink lighten-5">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <ul>
                    <li><a class="grey-text text-darken-4" href="#">About Us</a></li>
                    <li><a class="grey-text text-darken-4" href="#">Contact Us</a></li>
                    <li><a class="grey-text text-darken-4" href="#">Terms of Service</a></li>
                </ul>
            </div>


            <div class="col l4 s12">
                <ul>
                    <li class="grey-text text-darken-4" align="center">Text content of Draumórar is available under the <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">Creative Commons 3.0 License</a>. You can copy it freely, but indicate the origin and keep the license.</li>
                </ul>
            </div>


        </div>
    </div>
    <div class="footer-copyright pink lighten-4">
        <div class="container">
            <a href="http://www.freepik.com">Background images designed by Freepik</a>

        </div>
    </div>
</footer>