{% load static %}

<nav class="nav-extended z-depth-0">
    <div class="nav-wrapper white">
        <a href="{% url "landing_index" %}" class="brand-logo"><img border="0" alt = "CaptainConsole" src="{% static "images/sitelogo3.png" %}" width="135px" "></a>
            <a href="#" data-target="mobile-dropdown" class="sidenav-trigger"><i class="material-icons">menu</i></a>


        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">HOME</a></li>
            <li><a href="#">LOGIN</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>

    </div>
</nav>





{#<nav class="nav-extended">#}
{#    <div class="nav-wrapper blue accent-3">#}
{#        <!-- Logo -->#}
{#        <a href="{% url "landing_index" %}" class="brand-logo"><img border="0" alt = "CaptainConsole" src="{% static "images/sitelogo3.png" %}" width="130px" height="50px"></a>#}
{#        <!-- Page links -->#}
{#        <a href="#" data-target="mobile-dropdown" class="sidenav-trigger"><i class="material-icons">menu</i></a>#}
{#        <ul id="nav-store" class="hide-on-med-and-down indent-links">#}
{#            <li><a id="store-link" href="#">Store</a></li>#}
{#        </ul>#}
{##}
{#        <!-- Search bar and account links-->#}
{#        <ul id="nav-mobile" class="right hide-on-med-and-down">#}
{#            <li>#}
{#                <form  autocomplete="on">#}
{#                    <div class="input-field col s6 white-text blue accent-2">#}
{#                        <input placeholder="Search" id="search-bar" type="text" class="white-text">#}
{#                    </div>#}
{#                </form>#}
{#            </li>#}
{##}
{#            <li class="blue accent-2"><a id="search-bar-submit" href="#"><i class="material-icons">search</i></a></li>#}
{##}
{##}
{#            <li><a href="#"><i class="material-icons">shopping_cart</i></a></li>#}
{#            <li><a href="{% url "login_index" %}"><i class="material-icons">person</i></a></li>#}
{#        </ul>#}
{#    </div>#}
{#</nav>#}

<!-- Navbar that gets activated on smaller screens -->
{#<ul class="sidenav" id="mobile-dropdown">#}
{#    <!-- Search bar and site links-->#}
{#    <li class="blue accent-2">#}
{#        <div class="input-field col s12 white-text">#}
{#            <i class="material-icons prefix blue accent-2">search</i>#}
{#            <input placeholder="Search" id="mobile-search-bar" type="text" class="white-text">#}
{#            <label for="search-games"></label>#}
{#        </div>#}
{#    </li>#}
{#    <div class="seperator"></div>#}
{#    <li><a href="#">Store</a></li>#}
{#    <div class="seperator"></div>#}
{##}
{#        <li><a href="#">Shopping cart <i class="material-icons">shopping_cart</i></a></li>#}
{#        <li><a href="{% url "login_index" %}">Account <i class="material-icons">person</i></a></li>#}
{#        <li><a href="{% url "checkout_index" %}">Shopping cart <i class="material-icons">shopping_cart</i></a></li>#}
{#        <li><a href="{% url "login_index" %}">Account <i class="material-icons">person</i></a></li>#}
{##}
{#</ul>#}