{% load static %}

<nav class="nav-extended z-depth-4">
    <div class="nav-wrapper white">
        <a href="{% url "landing_index" %}" class="brand-logo">
            <img border="0" alt="Draumórar" src="{% static "images/sitelogo3.png" %}" width="135px" ">
        </a>
        <a href="#" data-target="mobile-dropdown" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url "orlitamedferd_index" %}">ÖRLITAMEÐFERÐ</a></li>
            <li><a href="{% url "dermatude_index" %}">DERMATUDE </a></li>
            <li><a href="{% url "verdskra_index" %}">VERÐSKRÁ</a></li>
        </ul>

    </div>



<!-- Navbar that gets activated on smaller screens -->

    <ul class="sidenav" id="mobile-dropdown">

        <li><a href="{% url "landing_index" %}">Heim</a></li>
        <div class="seperator"></div>
        <li><a href="{% url "orlitamedferd_index" %}">ÖRLITAMEÐFERÐ</a></li>
        <li><a href="{% url "dermatude_index" %}">DERMATUDE </a></li>
        <li><a href="{% url "verdskra_index" %}">VERÐSKRÁ</a></li>
    </ul>
